.aside {
  max-width: 330px;
  //display: grid;
  //grid-template-rows: 30% 50% 20%;
  margin-left: 0.5vw;
  border-radius: 25px;
  //height: 85vh;
  height: min-content;
  width: 19vw;
  border: 2px solid #000;
  background: #F9FBE9;
  margin-top: 12vh;
  padding: 20px;
  border: 2px solid rgba(0,2,72,0.97);
  min-width: 250px;

  &__title {
    height: 150%;
    width: 100%;
    font-size: 200%;
  }



  &__botton {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    //min-width: fit-content;
    &_first {
      color: #000;
      font-family: Caladea, sans-serif;
      //font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &_second {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
      a {
        display: flex;
        align-items: end;
        color: #000;
        text-align: center;
        font-family: Kanit;
        font-size: 20px;
        font-style: normal;
        font-weight: 250;
        line-height: normal;
      }
    }
  }
}