@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Open+Sans&display=swap');

@font-face {
  font-family: "Jacques Francois Shadow";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Jacques Francois Shadow"),
  url("../../fonts/JacquesFrancoisShadow-Regular.ttf") format("ttf")
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: 15% 75% 10%;
  align-items: center;
  justify-content: center;
  height: 10%;
  min-height: 90px;
  min-width: 1200px;
  width: 100%;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #F9FBE9;
  .header__logo {
    display: flex;
    flex-wrap: nowrap;
    height: 80px;
    padding-left: 26px;
    justify-self: center;
    &-image {
      width: 100%;
      //height: 90px;
    }
    &title {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000000;
      text-align: center;
      font-family: Jacques Francois Shadow, sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__navigation {
    //display: flex;
    justify-self: center;
    a {
      color: #585858;
      text-align: center;
      font-family: Italianno, sans-serif;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &__login {
    color: #585858;
    text-align: center;
    font-family: Italianno, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}